<div class="card err-card <%= classList.join(" ") %>" style="display: <%= visible ? "" : "none" %>">
    <div class="card-body">
        <strong class="text-danger font-weight-bold"><%= errorMessage %></strong>
    </div>
</div>