<html>
    <head>
        <%- include(`${base}/views/partials/head.ejs`, { title: "Dashboard" }) %>
    </head>
    <body>
        <%- include(`${base}/views/partials/nav.ejs`) %>
        <%- include(`${base}/views/partials/heading.ejs`, { title: "Student Dashboard" }) %>
        <center>
            <div id="before-login" style="display: none;">
                <div id="student-dshbrd-form" class="mt-4 card">
                    <div id="name-input-card" class="card-body">
                        <label for="name-input"><b>Name</b></label>
                        <input id="name-input" class="form-control" name="name" placeholder="Enter name">
                        <a id="name-submit" class="btn btn-primary mt-3">Enter</a>
                    </div>
                </div>
            </div>
            <div id="after-login" style="display: none;">
                <p>Welcome, <span id="student-name-display" class="text-success"></span>!</p>
                <button id="upload-btn" class="btn btn-primary">
                    <i class="bi bi-upload"></i> Upload
                </button>
                <button id="logout-btn" class="btn btn-danger">
                    <i class="bi bi-door-closed"></i> Logout
                </button>

                <h5 class="mt-5">Your essays</h5>
                <table id="student-essay-list" class="table table-sm mx-5" style="display: none;">
                    <tbody>
                        <tr class="table-head mr-1">
                            <th class="text-center"><p>&nbsp;Date</p></th>
                            <th class="text-center"><p>Time</p></th>
                            <th class="text-center"><p>Grade</p></th>
                            <th class="text-center"><p></p></th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p id="error-indicator" class="mt-3 text-danger" style="display: none"></p>
        </center>
    </body>
    <%- include(`${base}/views/partials/scripts.ejs`, { additionalFiles: ["dashboard/student.js"] }) %>
</html>