#teacher-essay-list {
    width: 85%;
}
#student-essay-list > tr:not(:first-child) {
    border: 1px solid lightgray;
}
#student-essay-list {
    width: 50%;
}
.table {
    /*border-right: 1px solid lightgray;*/
    border: 1px solid lightgray;
}
h2, .navbar-text, #no-essays-submitted, .h1, .nav, h1, p, label, li, h5, .dropdown-item {
    color: white;
}
blockquote {
    font-size: small;
    color: gray;
    border-left: 3px solid gray;
    padding-left: 5px;
}
input[type="file"] {
    color: transparent;
}
.nav-link {
    color: rgb(189, 189, 189);
}
.navbar {
    background-color: rgb(95, 95, 95);
}
.table-head {
    color: gray !important;
}
#dark-mode-btn {
    float: right;
}
.bi-sun {
    color: white;
    font-size: 2rem;
    color: lightyellow
}
.navbar-brand {
    cursor: pointer;
}
#name-input, #essay-body-input, #comment-inp {
    color: white;
}
#dark-mode-btn {
    border: 1px solid gray;
}
#student-dshbrd-form {
    width: 30%;
}
.dropdown-item:hover {
    color: black;
}
.navbar-brand:hover {
    color: white;
}
.nav-item > a:hover {
    color: white;
}
.err-card {
    background-color: rgb(190, 190, 190);
    width: 14rem;
    border: 3px solid rgb(245, 159, 159);
}
.bi-plus, .bi-check, .bi-pencil, .bi-trash {
    font-size: 2rem;
}
.bi-github {
    text-decoration: none;
    font-size: 2rem;
    color: white
}
#comment-inp {
    height: 3rem;
}
#comment-inp[disabled] {
    background: #3b3b3b
}
#comment-inp:not([disabled]) {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}