#teacher-essay-list {
    width: 85%;
}
#student-essay-list > tr:not(:first-child) {
    border: 1px solid lightgray;
}
#student-essay-list {
    width: 50%;
}
.table {
    /*border-right: 1px solid lightgray;*/
    border: 1px solid lightgray;
}
.table-head {
    background-color: lightgray;
}
.navbar-text {
    color: black;
}
blockquote {
    font-size: small;
    color: gray;
    border-left: 3px solid gray;
    padding-left: 5px;
}
input[type="file"] {
    color: transparent;
}
#dark-mode-btn {
    float: right;
}
.bi-moon {
    color: black;
    font-size: 2rem;
    color: rgb(0, 86, 114)
}
.navbar-brand {
    cursor: pointer;
}
#dark-mode-btn {
    border: 1px solid lightgray;
}
#student-dshbrd-form {
    width: 30%;
}
.err-card {
    width: 14rem;
    border: 3px dotted rgb(252, 201, 201);;
}
.bi-plus, .bi-check, .bi-pencil, .bi-trash {
    font-size: 2rem;
}
.bi-github {
    text-decoration: none;
    font-size: 2rem;
    color: black
}
.bi-github:hover {
    -webkit-text-stroke: 0.5px blue;
}
#comment-inp {
    height: 3rem;
}