<html>
    <head>
        <%- include(`${base}/views/partials/head.ejs`, { title: "Upload" }) %>
    </head>
    <body>
        <%- include(`${base}/views/partials/nav.ejs`) %>
        <%- include(`${base}/views/partials/heading.ejs`, { title: `Essay Submission` }) %>
        <form class="mx-5" action="/upload" method="post">
            <label for="name-input"><b>Name</b></label>
            <input id="name-input" class="form-control" name="name" placeholder="Enter name" required>
            <label class="mt-3" for="essay-body-input">
                <b>Essay</b> 
                <input type="file" id="essay-body-file" class="btn btn-sm">
            </label>
            <textarea id="essay-body-input" class="form-control" name="rawEssayBody" rows="10" required placeholder="Or paste essay

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl pretium fusce id velit ut tortor pretium viverra suspendisse. Tellus integer feugiat scelerisque varius morbi enim nunc. Sollicitudin aliquam ultrices sagittis orci. Ac turpis egestas sed tempus urna et pharetra. Ut faucibus pulvinar elementum integer enim neque volutpat ac tincidunt. Diam maecenas sed enim ut. Mattis aliquam faucibus purus in massa tempor nec feugiat. Interdum velit euismod in pellentesque. Faucibus a pellentesque sit amet porttitor eget dolor. Pretium fusce id velit ut. Id aliquet risus feugiat in ante metus. Mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget. Vel pretium lectus quam id leo in vitae turpis massa. Amet venenatis urna cursus eget nunc scelerisque viverra. Nibh nisl condimentum id venenatis."></textarea>
            
            <div class="text-center">
                <input class="btn btn-primary mt-4" type="submit" value="Submit">
            </div>
        </form>
    </body>
    <script src="/static/js/index.js"></script>
    <script>
        document.querySelector("#essay-body-file").addEventListener('change', function() { 
            var fr = new FileReader();
            fr.onload = () => {
                document.querySelector("#essay-body-input").value = fr.result
            }
            fr.readAsText(this.files[0]);
        })
    </script>
</html>